# ===============================
# Java
# ===============================
*.class
*.log
*.ctxt

# ===============================
# Maven
# ===============================
target/
!.mvn/wrapper/maven-wrapper.jar

# ===============================
# Gradle
# ===============================
.gradle/
build/

# ===============================
# IDEs
# ===============================
# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/

# Eclipse
.project
.classpath
.settings/

# VS Code
.vscode/

# ===============================
# OS files
# ===============================
.DS_Store
Thumbs.db

# ===============================
# Spring Boot
# ===============================
application.properties
application.yml
application-*.yml

# ===============================
# Logs
# ===============================
logs/
*.log

# ===============================
# Environment files
# ===============================
.env

# ===============================
# Docker
# ===============================
docker-compose.override.yml

# ===============================
# Test reports
# ===============================
surefire-reports/
